installers/linux/Miniconda3-latest-Linux-x86_64.sh filter=lfs diff=lfs merge=lfs -text
installers/win/Miniconda3-latest-Windows-x86_64.exe filter=lfs diff=lfs merge=lfs -text
installers/mac/Miniconda3-latest-MacOSX-x86_64.sh filter=lfs diff=lfs merge=lfs -text
