.draggable {
    width: 250px;
    height: 250px;
    margin-top: 3px;
    margin-bottom: 2px;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-color: green;
}

.ThumbnailStyle {
    height: 50px;
    width: 50px;
}